html{
  background-color: rgb(4, 66, 66);
}
.container-fluid{
  background-color:rgb(4, 66, 66);
}
input[type="text"]{
  background: transparent;
  color:white;
}
input[type="text"]:focus{
  background: transparent;
  color:white;
}